// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.pages.navbar-fixed
    // Page, data-page contains page name
    .page(data-page="osago")
        .navbar
            .navbar-inner
                // We have home navbar without left link
                .left
                    // Right link contains only icon - additional "icon-only" class
                    a(href="#").link.icon-only.open-panel 
                        i.icon.icon-bars
                .center.sliding ОСАГО
        // Scrollable page content
        .page-content
            .list-block.media-list
                ul
                    li
                        a(href="tel:+74232488428").item-link.external.item-content
                            .item-media
                                img(src="img/i-logo.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title
                                        Вызвать агента
                                .item-subtitle
                                    Наш агент приедет к вам
            .list-block.media-list
                ul
                    li
                        a(href="my.html").item-link.item-content
                            .item-media
                                img(src="img/i-osago.png", width="44")
                            .item-inner
                                .item-title-row
                                    .item-title
                                        Мои полисы
                                .item-subtitle
                                    До окончания полиса - 55 дней
            
            .content-block-title Проверка КБМ
            .list-block
                ul 
                    li
                        a(href="#").item-link.smart-select
                            select(name="serial")
                                option(value="XXX", selected=true) XXX
                                option(value="CCC") CCC
                                option(value="EEE") EEE
                                option(value="BBB") BBB
                            .item-content
                                //- .item-media
                                //-     i.icon.icon-form-name
                                .item-inner
                                    .item-title Серия
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Фамилия
                                .item-input
                                    input(type="text", placeholder="фамилия")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Имя
                                .item-input
                                    input(type="text", placeholder="имя")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Отчество
                                .item-input
                                    input(type="text", placeholder="отчество")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Дата рождения
                                .item-input
                                    input(type="date", placeholder="дата рождения")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Серия В/У
                                .item-input
                                    input(type="text", placeholder="дата рождения")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Номер В/У
                                .item-input
                                    input(type="text", placeholder="дата рождения")
                    li
                        .item-content
                            .item-media
                                img(src="http://dkbm-web.autoins.ru/dkbm-web-1.0/simpleCaptcha.png")
                    li
                        .item-content
                            //- .item-media
                            //-     i.icon.icon-form-name
                            .item-inner 
                                .item-title.label Код с картинки
                                .item-input
                                    input(type="text", placeholder="код")
                    li
                        .content-block
                            a(href="#").button.button-raised#check-polis
                                Проверить
